* {
  padding: 0;
  margin: 0;
  font-family: jost;
}
/* ! nav-section */
nav {
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
nav .logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;
}
nav .logo-container img {
  width: 39px;
}
nav .logo-container p {
  font-family: Exo;
  font-weight: 700;
  font-size: 28px;
}
nav ul {
  display: flex;
  list-style-type: none;
  width: 520px;
  justify-content: space-between;
}
nav ul a {
  text-decoration: none;
  font-family: Exo;
  font-weight: 600;
  color: black;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
}
nav ul .home {
  transition: 0.2s;
}
nav ul a:active {
  background-color: #f5f5f5;
  color: #ff782d;
}
nav ul li :active path {
  background-color: #f5f5f5;
  fill: #ff782d;
}
nav .nav-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .nav-actions a {
  text-decoration: none;
  color: Black;
  font-weight: 500;
  font-size: 18px;
}
nav .nav-actions .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-color: #ff782d;
  border-style: solid;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-actions .list-btn {
  background-color: transparent;
  display: none;
  border: none;
  cursor: pointer;
}
nav .nav-actions .list-btn img {
  width: 24px;
  height: 24px;
}
@media (max-width: 430px) {
  nav {
    padding: 5px 20px;
  }
  nav ul {
    display: none;
  }
  nav .nav-actions .search-btn,
  nav .nav-actions a {
    display: none;
  }
  nav .nav-actions .list-btn {
    display: inline;
  }
}
@media (min-width: 431px) and (max-width: 884px) {
  nav ul {
    display: none;
  }
  nav .nav-actions .search-btn,
  nav .nav-actions a {
    display: none;
  }
  nav .nav-actions .list-btn {
    display: inline;
  }
}
/* ! breadcrumbs-section */
.breadcrumbs-container {
  height: 60px;
  background-color: #f5f5f5;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
.breadcrumbs-container p {
  color: #555555;
  display: flex;
  gap: 15px;
}
.breadcrumbs-container p span {
  color: #9d9d9d;
}
/* ! all-articles-setion */
.all-articles {
  padding: 0 50px;
  margin-top: 100px;
}
.all-articles .all-articles-header {
  display: flex;
  justify-content: space-between;
}
.all-articles .all-articles-header h2 {
  font-family: Exo;
  font-weight: 600;
  font-size: 36px;
}
.all-articles .all-articles-header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.all-articles .all-articles-header > div > div {
  position: relative;
  display: flex;
  align-items: center;
  width: 270px;
}
.all-articles .all-articles-header > div > div label {
  position: absolute;
  left: 93%;
}
.all-articles .all-articles-header > div > div label path {
  fill: black;
}
.all-articles .all-articles-header > div > div input {
  border-style: none;
  border-bottom-style: solid;
  outline-style: none;
  border-color: black;
  border-width: 1px;
  width: 100%;
  padding-right: 20px;
}
.all-articles .all-articles-header > div button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
.all-articles .all-articles-header > div button path {
  fill: black;
}
.all-articles .all-articles-header > div button :active path {
  fill: #ff782d;
}
.all-articles {
  padding: 0 50px;
  margin-bottom: 100px;
}
.all-articles-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.all-articles-card {
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  border-style: solid;
  border-color: #eaeaea;
  justify-content: space-between;
  height: 420px;
  padding-bottom: 20px;
}
.all-articles-card div {
  margin: 0 20px;
}
.all-articles-card .card-title {
  font-size: 20px;
  font-weight: 600;
  font-family: Exo;
  width: 345px;
  line-height: 24px;
}
.all-articles-card .card-info {
  color: #555555;
}
.all-articles .card-content p {
  font-size: 18px;
  color: #555555;
  width: 345px;
}
.all-articles-card .card-info img {
  margin-right: 5px;
}
.all-articles-card .card-info p {
  display: flex;
}
.all-articles .all-articles-footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
.all-articles .all-articles-footer ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  background-color: #eaeaea;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-articles .all-articles-footer ul li :active {
  background-color: black;
  color: white;
}
.all-articles .all-articles-footer ul li :active path {
  fill: white;
}
.all-articles .all-articles-footer ul li path {
  fill: black;
}
@media (max-width: 430px) {
  .all-articles {
    padding: 0;
  }
  .all-articles .all-articles-header {
    flex-direction: column;
    gap: 10px;
  }
  .all-articles .all-articles-header > div > div label {
    left: 92%;
  }
  .all-articles .all-articles-header h2 {
    padding-left: 30px;
  }
  .all-articles .all-articles-header div {
    width: 320px;
    align-self: center;
  }
  .all-articles-cards {
    flex-direction: column;
    align-items: center;
  }
  .all-articles-card {
    width: 330px;
    text-align: left;
  }
  .all-articles-card > img {
    width: 100%;
  }
  .all-articles-card .card-content p {
    width: 300px;
  }
  .all-articles-card .card-title {
    width: 300px;
  }
}
@media (min-width: 431px) and (max-width: 884px) {
  .all-articles .all-articles-cards .all-articles-card {
    width: 310px;
  }
  .all-articles .all-articles-cards .all-articles-card p {
  
  width: 300px;}
}
/* ! footer-section */
footer {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  align-items: center;
  margin-top: 100px;
  background-color: #f5f5f5;
  height: 458px;
  justify-content: space-evenly;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer-content .logo-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

footer .footer-content .logo-container div {
  display: flex;
  gap: 3px;
  align-items: center;
}
footer .footer-content .logo-container div img {
  width: 39px;
  height: 30px;
}
footer .footer-content .logo-container > p {
  font-size: 18px;
  width: 341px;
  color: #555555;
}
footer .footer-content .logo-container div p {
  font-family: Exo;
  font-weight: 700;
  font-size: 28px;
}
footer .contact,
footer .footer-programs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer .contact p,
footer .footer-programs p,
footer .about-us p {
  font-family: Exo;
  font-weight: 600;
  font-size: 20px;
}
footer .contact a,
footer .footer-programs a {
  font-weight: 500;
  font-size: 18px;
  color: #555555;
  text-decoration: none;
  line-height: 40px;
  width: fit-content;
}
footer .footer-programs div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
footer .about-us > div {
  display: flex;
  flex-direction: column;
  line-height: 45px;
}
footer .about-us .address,
footer .about-us a {
  font-size: 18px;
  color: #555555;
  text-decoration: none;
  line-height: 27px;
}
footer .about-us .address {
  width: 340px;
  font-weight: 400;
  margin-bottom: 27px;
}
footer .about-us img {
  margin-top: 27px;
}
footer a {
  transition: 200ms;
}
footer a:hover {
  color: #ff782d;
}
footer .about-us a img {
  color: red;
}
footer .about-us path {
  fill: #555555;
  transition: 200ms;
}
footer .about-us a:hover path {
  fill: #ff782d;
}
@media (max-width: 430px) {
  footer {
    height: max-content;
    padding: 20px;
  }
  footer .footer-content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  footer > p {
    text-align: center;
  }
  footer .footer-content .logo-container p {
    width: 320px;
  }
}
@media (min-width: 431px) and (max-width: 884px) {
  footer {
    height: max-content;
    padding: 50px;
  }
  footer .footer-content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  footer > p {
    text-align: center;
  }
  footer .footer-content .logo-container p {
    width: 320px;
  }
}
