/*  --------------------------------------------------------------sign-in-section-------------------------------------------------------------------------- */
.sign-in-up {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin-top: 70px;
}
.sign-in-up .login-form,
.sign-in-up .register {
  width: 580px;
  border-color: #eaeaea;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  height: max-content;
}
.sign-in-up form {
  width: 549px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sign-in-up h2 {
  font-family: Exo;
  font-weight: 600;
  font-size: 32px;
  height: fit-content;
}
.sign-input {
  border-radius: 8px;
  border-width: 1px;
  padding: 10px 16px;
  border-color: var(--grey-color);
  border-style: solid;
  outline-color: var(--primary-color);
  outline-width: 1px;
  font-size: 18px;
}
.sign-in-up .password-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sign-in-up .password-container button {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 93%;
  top: 20%;
}
.sign-in-up .remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sign-in-up form label {
  color: var(--dark-gray);
  font-size: 18px;
}
.sign-in-up form > a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black-color);
}
@media (max-width: 430px) {
  .sign-in-up {
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    gap: 30px;
  }
  .sign-in-up form {
    width: 280px;
    padding: 10px;
  }
  .sign-in-up .login-form,
  .sign-in-up .register {
    width: 100%;
  }
  .sign-in-up .password-container button {
    left: 85%;
  }
}
@media (min-width: 431px) and (max-width: 892px) {
  .sign-in-up {
    padding: 0 50px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}