* {
  padding: 0;
  margin: 0;
  font-family: jost;
}
/* ! nav-section */
nav {
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
nav .logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;
}
nav .logo-container img {
  width: 39px;
}
nav .logo-container p {
  font-family: Exo;
  font-weight: 700;
  font-size: 28px;
}
nav ul {
  display: flex;
  list-style-type: none;
  width: 520px;
  justify-content: space-between;
}
nav ul a {
  text-decoration: none;
  font-family: Exo;
  font-weight: 600;
  color: black;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
}
nav ul .home {
  transition: 0.2s;
}
nav ul a:active {
  background-color: #f5f5f5;
  color: #ff782d;
}
nav ul li :active path {
  background-color: #f5f5f5;
  fill: #ff782d;
}
nav .nav-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .nav-actions a {
  text-decoration: none;
  color: Black;
  font-weight: 500;
  font-size: 18px;
}
nav .nav-actions .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-color: #ff782d;
  border-style: solid;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-actions .list-btn {
  background-color: transparent;
  display: none;
  border: none;
  cursor: pointer;
}
nav .nav-actions .list-btn img {
  width: 24px;
  height: 24px;
}
@media (max-width: 430px) {
  nav {
    padding: 5px 20px;
  }
  nav ul {
    display: none;
  }
  nav .nav-actions .search-btn,
  nav .nav-actions a {
    display: none;
  }
  nav .nav-actions .list-btn {
    display: inline;
  }
}
@media (min-width: 431px) and (max-width: 884px) {
  nav ul {
    display: none;
  }
  nav .nav-actions .search-btn,
  nav .nav-actions a {
    display: none;
  }
  nav .nav-actions .list-btn {
    display: inline;
  }
}
/* ! breadcrumbs-section */
.breadcrumbs-container {
  height: 60px;
  background-color: #f5f5f5;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
.breadcrumbs-container p {
  color: #555555;
  display: flex;
  gap: 15px;
}
.breadcrumbs-container p span {
  color: #9d9d9d;
}
/* ! sign-in-section */
.sign-in-up {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 100px;
}
.sign-in-up .login-form,
.sign-in-up .register {
  width: 609px;
  border-color: #eaeaea;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  height: max-content;
}
.sign-in-up form {
  width: 549px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sign-in-up h2 {
  font-family: Exo;
  font-weight: 600;
  font-size: 32px;
  height: fit-content;
}
.sign-input {
  border-radius: 8px;
  border-width: 1px;
  padding: 10px 16px;
  border-color: #9d9d9d;
  border-style: solid;
  outline-color: #ff782d;
  outline-width: 1px;
  font-size: 18px;
}
.sign-in-up .password-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sign-in-up .password-container button {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 93%;
  top: 20%;
}
.sign-in-up .remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sign-in-up form > button {
  background-color: #ff782d;
  border-radius: 24px;
  padding: 10px 24px;
  color: white;
  border-style: none;
  font-weight: 500;
  font-size: 18px;
}
.sign-in-up form label {
  color: #555555;
  font-size: 18px;
}
.sign-in-up form > a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
@media (max-width: 430px) {
  .sign-in-up {
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    gap: 30px;
  }
  .sign-in-up form {
    width: 280px;
  }
  .sign-in-up .login-form,
  .sign-in-up .register {
    width: 100%;
  }
  .sign-in-up .password-container button {
    left: 85%;
  }
}
@media (min-width: 431px) and (max-width: 884px) {
  .sign-in-up {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
/* ! footer-section */
footer {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  align-items: center;
  margin-top: 50px;
  background-color: #f5f5f5;
  height: 458px;
  justify-content: space-evenly;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer-content .logo-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

footer .footer-content .logo-container div {
  display: flex;
  gap: 3px;
  align-items: center;
}
footer .footer-content .logo-container div img {
  width: 39px;
  height: 30px;
}
footer .footer-content .logo-container > p {
  font-size: 18px;
  width: 341px;
  color: #555555;
}
footer .footer-content .logo-container div p {
  font-family: Exo;
  font-weight: 700;
  font-size: 28px;
}
footer .contact,
footer .footer-programs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer .contact p,
footer .footer-programs p,
footer .about-us p {
  font-family: Exo;
  font-weight: 600;
  font-size: 20px;
}
footer .contact a,
footer .footer-programs a {
  font-weight: 500;
  font-size: 18px;
  color: #555555;
  text-decoration: none;
  line-height: 40px;
  width: fit-content;
}
footer .footer-programs div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
footer .about-us > div {
  display: flex;
  flex-direction: column;
  line-height: 45px;
}
footer .about-us .address,
footer .about-us a {
  font-size: 18px;
  color: #555555;
  text-decoration: none;
  line-height: 27px;
}
footer .about-us .address {
  width: 340px;
  font-weight: 400;
  margin-bottom: 27px;
}
footer .about-us img {
  margin-top: 27px;
}
footer a {
  transition: 200ms;
}
footer a:hover {
  color: #ff782d;
}
footer .about-us a img {
  color: red;
}
footer .about-us path {
  fill: #555555;
  transition: 200ms;
}
footer .about-us a:hover path {
  fill: #ff782d;
}
@media (max-width: 430px) {
  footer {
    height: max-content;
    padding: 20px;
  }
  footer .footer-content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  footer > p {
    text-align: center;
  }
  footer .footer-content .logo-container p {
    width: 320px;
  }
}
@media (min-width: 431px) and (max-width: 884px) {
  footer {
    height: max-content;
    padding: 50px;
  }
  footer .footer-content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  footer > p {
    text-align: center;
  }
  footer .footer-content .logo-container p {
    width: 320px;
  }
}
