/*  -------------------------------------all-articles-setion------------------------------ */
.all-articles {
  padding: 0 70px;
  margin-top: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.all-articles .all-articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.all-articles .all-articles-header h2 {
  font-family: Exo;
  font-weight: 600;
  font-size: 36px;
  margin: 0;
}

.all-articles .all-articles-header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-articles .all-articles-header > div > div {
  position: relative;
  display: flex;
  align-items: center;
  width: 270px;
}

.all-articles .all-articles-header > div > div label {
  position: absolute;
  left: 93%;
  top: 50%;
  transform: translateY(-50%);
}

.all-articles .all-articles-header > div > div input {
  border-style: none;
  border-bottom-style: solid;
  outline-style: none;
  border-color: var(--black-color);
  border-width: 1px;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.all-articles .all-articles-header > div button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.all-articles .all-articles-header > div button path {
  transition: 300ms;
}

.all-articles .all-articles-header > div button:hover path {
  fill: var(--primary-color);
}

.all-articles .all-articles-footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  padding: 0;
}

.all-articles .all-articles-footer ul li a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 18px;
  background-color: #eaeaea;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.all-articles .all-articles-footer ul li:active {
  background-color: var(--black-color);
  color: white;
}

.all-articles .all-articles-footer ul li:active path {
  fill: white;
}

.all-articles .all-articles-footer ul li path {
  fill: var(--black-color);
}

@media (max-width: 639px) {
  .all-articles {
    padding: 0 20px;
    width: 100%;
  }
  .all-articles .all-articles-header {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .all-articles .all-articles-header > div > div label {
    left: 92%;
  }
  .all-articles .all-articles-header div {
    display: flex;
    justify-content: center;
    width: 100%;
    button {
      display: none;
    }
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .all-articles {
    padding: 0 50px;
  }
}
