/*  -----------------------------------------------------------------all-articles-setion----------------------------------------------------------- */
.all-articles {
  padding: 0 70px;
  margin-top: 70px;
}
.all-articles .all-articles-header {
  display: flex;
  justify-content: space-between;
}
.all-articles .all-articles-header h2 {
  font-family: Exo;
  font-weight: 600;
  font-size: 36px;
}
.all-articles .all-articles-header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.all-articles .all-articles-header > div > div {
  position: relative;
  display: flex;
  align-items: center;
  width: 270px;
}
.all-articles .all-articles-header > div > div label {
  position: absolute;
  left: 93%;
}
.all-articles .all-articles-header > div > div label path {
  fill: var(--black-color);
}
.all-articles .all-articles-header > div > div input {
  border-style: none;
  border-bottom-style: solid;
  outline-style: none;
  border-color: var(--black-color);
  border-width: 1px;
  width: 100%;
  padding-right: 20px;
}
.all-articles .all-articles-header > div button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
.all-articles .all-articles-header > div button path {
  fill: var(--black-color);
}
.all-articles .all-articles-header > div button :active path {
  fill: var(--primary-color);
}
.all-articles-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.all-articles-card {
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  border-style: solid;
  border-color: #eaeaea;
  justify-content: space-between;
  height: 420px;
  padding-bottom: 20px;
  width: 370px;
}
.all-articles-card div {
  margin: 0 20px;
}
.all-articles-card .card-title {
  font-size: 20px;
  font-weight: 600;
  font-family: Exo;
  width: 345px;
  line-height: 24px;
}
.all-articles-card .card-info {
  color: var(--dark-gray);
}
.all-articles .card-content p {
  font-size: 18px;
  color: var(--dark-gray);
  width: 345px;
}
.all-articles-card .card-info img {
  margin-right: 5px;
}
.all-articles-card .card-info p {
  display: flex;
}
.all-articles .all-articles-footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
.all-articles .all-articles-footer ul li a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 18px;
  background-color: #eaeaea;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-articles .all-articles-footer ul li :active {
  background-color: var(--black-color);
  color: white;
}
.all-articles .all-articles-footer ul li :active path {
  fill: white;
}
.all-articles .all-articles-footer ul li path {
  fill: var(--black-color);
}
@media (max-width: 430px) {
  .all-articles {
    padding: 0 20px;
  }
  .all-articles .all-articles-header {
    flex-direction: column;
    gap: 10px;
  }
  .all-articles .all-articles-header > div > div label {
    left: 92%;
  }
  .all-articles .all-articles-header div {
    width: 100%;
    align-self: center;
  }
  .all-articles-cards {
    flex-direction: column;
    align-items: center;
  }
  .all-articles-card {
    width: 100%;
    text-align: left;
  }
  .all-articles-card > img {
    width: 100%;
  }
  .all-articles-card .card-content p {
    width: 100%;
  }
  .all-articles-card .card-title {
    width: 100%;
  }
}
@media (min-width: 431px) and (max-width: 892px) {
  .all-articles {
    padding: 0 50px;
  }
  .all-articles .all-articles-cards .all-articles-card {
    width: 310px;
  }
  .all-articles .all-articles-cards .all-articles-card p {
    width: 300px;
  }
}
