/*  -----------------------------------------------------------------faqs-section-------------------------------------------------------------------------------- */
.faqs-container {
  margin-top: 70px;
  padding: 0 70px;
}
.faqs-container h2 {
  font-family: Exo;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 50px;
  width: fit-content;
}
.faqs-container .faq-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 474px;
  align-content: space-between;
}
.faqs-container .faq-cards .faq-card {
  background-color: var(--light-gray);
  border-radius: 8px;
  width: 530px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faqs-container .faq-cards .faq-card-active {
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  border-radius: 8px;
  width: 530px;
  padding: 20px 30px;
  gap: 20px;
}
.faqs-container .faq-cards .faq-card-active div {
  display: flex;
  justify-content: space-between;
}
.faqs-container .faq-cards .faq-card p {
  font-family: Exo;
  font-weight: 600;
}
.faqs-container .faq-cards .faq-card-active div p {
  font-family: Exo;
  font-weight: 600;
  color: var(--primary-color);
  width: 100%;
  
}
.faqs-container .faq-cards .faq-card-active > p {
  font-size: 18px;
  color: var(--dark-gray);
  width: 100%;
}
.faqs-container .faq-cards .faq-card path,
.faqs-container .faq-cards .faq-card-active path {
  fill: var(--grey-color);
}
.faqs-container > img {
  margin-top: 50px;
}
@media (max-width: 631px) {
  .faqs-container {
    padding: 0 20px;
  }
  .faqs-container .faq-cards {
    height: max-content;
    align-items: center;
  }
  .faqs-container .faq-cards .faq-card,
  .faqs-container .faq-cards .faq-card-active {
    width: 100%;
  }
  .faqs-container .faq-cards .faq-card-active > p {
    width: 100%;
  }
  .faqs-container > img {
    width: 100%;
  }
}
@media (min-width: 631px) and (max-width: 1024px) {
  .faqs-container {
    padding: 0 50px;
  }
  .faqs-container .faq-cards {
    height: fit-content;
  }
  .faqs-container .faq-cards .faq-card-active > p {
    width: 100%;
  }
}
