@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: jost;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff782d;
  --black-color: #000000;
  --grey-color: #9d9d9d;
  --dark-gray: #555555;
  --light-gray: #f5f5f5;
}
.primary-btn {
  font-size: 18px;
  font-weight: 500;
  background-color: var(--primary-color);
  border-radius: 24px;
  padding: 10px 24px;
  border-style: none;
  color: white;
  cursor: pointer;
}
.outline-primary-btn {
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 24px;
  padding: 10px 24px;
  border-style: solid;
  color: var(--primary-color);
  cursor: pointer;
  border-color: var(--primary-color);
}
/*  --------------------------------------------------------------------------------navbar-section----------------------------------------------------------------------------- */
nav {
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: white;
}
nav .logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;
}
nav .logo-container img {
  width: 39px;
}
nav .logo-container p {
  font-family: Exo;
  font-weight: 700;
  font-size: 28px;
}
nav ul {
  display: flex;
  list-style-type: none;
  width: 520px;
  justify-content: space-between;
}
nav ul li a {
  text-decoration: none;
  font-family: Exo;
  font-weight: 600;
  color: var(--black-color);
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 10px;
}
.active {
  background-color: var(--light-gray);
  fill: var(--primary-color);
  color: var(--primary-color);
}
nav .nav-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .nav-actions a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 18px;
}
nav .nav-actions .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-color: var(--primary-color);
  border-style: solid;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-actions .list-btn {
  background-color: transparent;
  display: none;
  border: none;
  cursor: pointer;
}
nav .nav-actions .list-btn img {
  width: 20px;
  height: 20px;
}
@media (max-width: 639px) {
  nav {
    padding: 0 20px;
  }
  nav ul {
    display: none;
  }
  nav .nav-actions .search-btn,
  nav .nav-actions a {
    display: none;
  }
  nav .nav-actions .list-btn {
    display: block;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  nav {
    padding: 0 50px;
  }
  nav ul {
    display: none;
  }
  nav .nav-actions .search-btn,
  nav .nav-actions a {
    display: none;
  }
  nav .nav-actions .list-btn {
    display: inline;
  }
}
/*  -----------------------------------------------------breadcrumbs-section-------------------------------------------------------------- */
.breadcrumbs-container {
  background-color: var(--light-gray);
  padding: 0 70px;
  display: flex;
  align-items: center;
  height: calc(130px - 70px);
  margin-top: 70px;
}
.breadcrumbs-container p {
  color: var(--dark-gray);
  display: flex;
  gap: 15px;
}
.breadcrumbs-container p span {
  color: var(--grey-color);
}
@media (max-width: 639px) {
  .breadcrumbs-container {
    padding: 0 20px;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .breadcrumbs-container {
    padding: 0 50px;
  }
}
/*  ---------------------------------------------------------------footer-section-------------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  align-items: center;
  margin-top: 70px;
  background-color: var(--light-gray);
  height: 458px;
  justify-content: space-evenly;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
footer .footer-content .logo-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

footer .footer-content .logo-container div {
  display: flex;
  gap: 3px;
  align-items: center;
}
footer .footer-content .logo-container div img {
  width: 39px;
  height: 30px;
}
footer .footer-content .logo-container > p {
  font-size: 18px;
  width: 341px;
  color: var(--dark-gray);
}
footer .footer-content .logo-container div p {
  font-family: Exo;
  font-weight: 700;
  font-size: 28px;
}
footer .contact,
footer .footer-programs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer .contact p,
footer .footer-programs p,
footer .about-us p {
  font-family: Exo;
  font-weight: 600;
  font-size: 20px;
}
footer .contact a,
footer .footer-programs a {
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-gray);
  text-decoration: none;
  line-height: 40px;
  width: fit-content;
}
footer .footer-programs div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
footer .about-us > div {
  display: flex;
  flex-direction: column;
}
footer .about-us .address,
footer .about-us a {
  font-size: 18px;
  color: var(--dark-gray);
  text-decoration: none;
  line-height: 27px;
}
footer .about-us .address {
  width: 340px;
  font-weight: 400;
  margin-bottom: 27px;
}
footer .about-us img {
  margin-top: 27px;
}
footer a {
  transition: 200ms;
}
footer a:hover {
  color: var(--primary-color);
}
footer .about-us a img {
  color: red;
}
footer .about-us path {
  fill: var(--dark-gray);
  transition: 200ms;
}
footer .about-us a:hover path {
  fill: var(--primary-color);
}
@media (max-width: 639px) {
  footer {
    height: max-content;
    padding: 20px;
  }
  footer .footer-content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  footer .footer-content .logo-container > p {
    width: 100%;
  }
  footer .footer-content .logo-container div p {
    width: 100%;
  }
  footer .about-us .address {
    width: 100%;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  footer {
    height: max-content;
    padding: 50px;
  }
  footer .footer-content {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
  footer .footer-content .logo-container p {
    width: 100%;
  }
}
